<!-- register.html -->
{% extends 'accounts/base.html' %}

{% block content %}
<form method="POST" novalidate>
  {% csrf_token %}
  <h2>Créer un compte</h2>
  <p>Choisissez votre rôle:</p>
  <select name="role">
    <option value="">--Vous etes :--</option>
    <option value="parent">Parent</option>
    <option value="teacher">Enseignant</option>
  </select>
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <input type="submit" value="Suivant" />
</form>
{% endblock content %}
